footer ul{
  
        grid-auto-flow: column;
    display: grid
;
    justify-content: space-evenly;
    height: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    align-items: center;
    height: 3rem;
    
}